.footer {
    background: #111;
    color: white;
    padding-top: 40px;
    margin-top: 50px;
}

.footer-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.footer-box h2,
.footer-box h3 {
    margin-bottom: 10px;
}

.footer-box h2 {
    background-color: red;
    width: 150px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    /* color: red; */
}

.footer-box p {
    color: #ccc;
    line-height: 1.6;
}

.footer-box ul {
    list-style: none;
    padding: 0;
}

.footer-box ul li {
    margin-bottom: 8px;
    cursor: pointer;
    color: #ccc;
}

.footer-box ul li:hover {
    color: rgb(255, 0, 0);
}


.footer-bottom {
    text-align: center;
    border-top: 1px solid gray;
    margin-top: 30px;
    padding: 15px;
    color: #aaa;
}



@media (max-width: 992px) {

    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 600px) {

    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }
}